.input-file {
    display: none;
}

.todoListMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todoListMain button {
    margin: 30px;
}

.columnName{
padding-left:5px;
padding-right:5px;
}

.myTable{
    margin-bottom:20px;
}

.fireworkContainer {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
  }